[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
[submodule "StyleGaussian"]
	path = StyleGaussian
	url = git@github.com:Kunhao-Liu/StyleGaussian.git
